@import 'compass';

// Grays
// -------------------------

$gray:                   rgb(152,143,134) !default; // #555
$gray-darker:            darken($gray, 20%) !default; // #222
$gray-dark:              darken($gray, 13.5%) !default;   // #333
$gray-light:             lighten($gray, 13.5%) !default;   // #999
$gray-lighter:           lighten($gray, 20%) !default; // #eee

// Brand colors
// -------------------------

$brand-primary:         rgb(168,8,77) !default;
$brand-success:         rgb(190,214,0) !default;
$brand-warning:         rgb(230,176,18) !default;
$brand-danger:          rgb(220,4,81) !default;
$brand-info:            rgb(0,154,166) !default;

// Scaffolding
// -------------------------

$body-bg:               #fff !default;
$text-color:            $gray-dark !default;

// Links
// -------------------------

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

// Typography
// -------------------------

$font-family-sans-serif:  "FSMencapRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$mencapPink: rgb(168,8,77);
$mencapOlive: rgb(156,154,0);
$green: rgb(190,214,0);
$orange: rgb(230,176,18);
$pink: rgb(220,4,81);
$purple: rgb(181,145,214);
$blue: rgb(122,171,222);
$turquoise: rgb(0,154,166);
$grey: rgb(152,143,134);

$cols: $mencapPink $turquoise $turquoise $turquoise $turquoise $purple $purple $orange $orange $green $green $green $blue $blue $turquoise $turquoise $turquoise $purple $purple;
$items: 16;

$fa-font-path: '../bower_components/fontawesome/fonts' !default;

$sizes: 'xs', 'sm', 'md', 'lg', 'xlg';
$mins: $screen-xs-min, $screen-sm-min, $screen-md-min, $screen-lg-min;

@mixin responsive-bg($file, $id, $grad: 0) {
  $col: '';
  $gradient: '';
  @if ($id > 0) {
    $col: nth($cols, $id + 1);
    $gradient: linear-gradient(to bottom, transparentize(lighten($col, 30%), 0.6), transparentize(darken($col, 30%), 0.3));
  }
  @if ($grad == 1) {
    $col: $mencapPink;
    $gradient: linear-gradient(to bottom, transparentize(lighten($col, 30%), 0.6), transparentize(darken($col, 30%), 0.3));
  }
  $fallback: image-url('#{$file}-bg-xxs.jpg');
  .item-#{$id} .fill {
    @if ($id > 0) {
      @include background-image($gradient, $fallback);
    } else {
      background-image: $fallback;
    }
    @for $i from 1 through 5 {
      $size: nth($sizes, $i);
      $add: 2;
      @if $size == 'lg' {
        $add: 1;
      } @else if $size == 'xlg' {
        $add: 0;
      }
      @if $add > 0 {
        $mw: nth($mins, $i);
        $src: image-url('#{$file}-bg-#{$size}.jpg');
        $sizeHi: nth($sizes, $i + $add);
        $srcHi: image-url('#{$file}-bg-#{$sizeHi}.jpg');
        @media screen and (min-width: $mw) {
          @if ($id > 0) {
            @include background-image($gradient, $src, $fallback);
          } @else {
            @include background-image($src, $fallback);
          }
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: $mw) {
          @if ($id > 0) {
            @include background-image($gradient, $srcHi, $fallback);
          } @else {
            @include background-image($srcHi, $fallback);
          }
        }
      }
    }
  }
}

