@import 'compass';
@import 'variables';

@include font-face('FontAwesome', font-files(
           '../../bower_components/fontawesome/fonts/fontawesome-webfont.woff',
           '../../bower_components/fontawesome/fonts/fontawesome-webfont.ttf',
           '../../bower_components/fontawesome/fonts/fontawesome-webfont.svg'
         ), '../../bower_components/fontawesome/fonts/fontawesome-webfont.eot');

@include font-face('FSMencapRegular', font-files('fsmencap-webfont.woff', 'fsmencap-webfont.ttf', 'fsmencap-webfont.svg'), 'fsmencap-webfont.eot');

html,body {
  height:100%;
}

header.header, footer.footer {
  @include transition(transform 0.5s ease-out);
}

footer.footer {
  background: $gray;
  display: block;
  color: white;
  font-size: 0.8em;
  padding: 0.2em 0.3em;
}

$i: 0;
@each $col in $cols {
  .item-#{$i} {
    .video-title { background-color: transparentize($col, 0.2); }
    .vjs-default-skin .vjs-big-play-button { border-color: $col; }
  }
  .overview-#{$i} h3 { background-color: $col; }
  .navbar-nav .dropdown.open .dropdown-menu li.item-#{$i} { 
    a { 
      background-color: $col;
      &:hover,&:focus { background-color: darken($col, 10%); }
   }
  }
  $i: $i+1 !global;
}

.btn-video, .btn-video:focus {
  color: transparentize(white, 0.5);
  background-color: $mencapOlive;
  border-color: darken($mencapOlive, 10%);
}
.btn-video {
  &:hover,&:active {
    color: transparentize(white, 0.5);
    background-color: darken($mencapOlive, 10%);
    border-color: darken($mencapOlive, 20%);
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

#intro-container {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  display: table;
  opacity: 0.0;
  @include transition(opacity 1s, visibility 1s);
  z-index: 1;
  .content {
    opacity: 0.0;
    @include transition(opacity 1s);
    position: relative;
    top: -2rem;
    display: table-cell;
    vertical-align: middle;
    h1 {
      font-size: 0.6em;
      @media screen and (min-width: $screen-xs-min) { font-size: 1em; }
      @media screen and (min-width: $screen-sm-min) { font-size: 1.6em; }
    }
    .mencap-logo {
      width: 9em;
      height: 5em;
      top: -0.1em;
      position: relative;
      margin-left: -0.2em;
      margin-right: 0.3em;
      @extend .logo;
    }
    .ya-text {
      font-size: 2em;
      color: $brand-success;
      font-weight: bold;
    }
  }
  .progress {
    background-color: $gray-lighter;
    height: 0.5rem;
    border-radius: 0;
    &.progress-striped .progress-bar {
      @include background-image(linear-gradient(45deg, $mencapOlive 25%, $mencapPink 25%, $mencapPink 50%, $mencapOlive 50%, $mencapOlive 75%, $mencapPink 75%, $mencapPink));
    }
  }
}

.loading {
  header.header { @include transform(translateY(-8rem)); }
  #intro-container {
    opacity: 1.0;
    visibility: visible;
  }
  footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &.showlogo #intro-container .content { opacity: 1.0; }
}

.logo { background-image: image-url('logo.svg'); }

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
  .mencap { color: $brand-primary; }
  .ya-text { color: $brand-success; }
}

.mejs-logo-button span,
.mencap-logo {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  @include hide-text;
  background: {
    position: center center;
    size: contain;
    repeat: no-repeat;
  }
}

footer .mencap-logo {
  width: 4rem;
  height: 2rem;
}

.svg .navbar-brand {
  .mencap-logo {
    width: 4rem;
    height: 6rem;
    position: relative;
    z-index: 2;
    @extend .logo;
    @media screen and (min-width: $screen-xs-min) {
      width: 12rem;
      height: 7rem;
    }
  }
  .ya-text {
    vertical-align: middle;
    font-size: 1.6rem;
    @media screen and (min-width: $screen-xs-min) {
      font-size: 2.4rem;
    }
    margin-left: 0.5em;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
}

.navbar-nav .dropdown {
  &.open {
    position: absolute;
    left: 0;
    width: 100%;
    background: #222;
    text-align: right;
    z-index: 1;
    .dropdown-menu {
      background-color: transparent;
      box-shadow: none;
      border: 0;
      font-size: 1.4em;
      li a {
        line-height: 1.3;
        color: white;
        display: inline-block;
      }
      li.active a, li.active a:hover, li.active a:focus { background-color: $mencapPink; }
    }
    .dropdown-toggle { display: inline-block; }
    @media screen and (min-width: $screen-sm-min) {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      background: transparent;
      z-index: inherit;
      .dropdown-toggle { display: block; }
    }
  }
  .dropdown-toggle {
    font-size: 1.8rem;
    margin-top: 1.1rem;
    display: block;
    @media screen and (min-width: $screen-xs-min) {
      font-size: 2.4rem;
      margin-top: 0.7rem;
    }
  }
}

.item-0 .fill { background-image: image-url('intro-bg-xxs.jpg'); }
@include responsive-bg('intro', 0);
.item-0 {
  .fill {
    background-position: left center;
    .container .content {
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 3em;
    }
  }
  .row, .row > div { height: 100%; }
  .row > div { display: table; }
  h2 { background: transparentize($mencapPink, 0.2); }
  p {
    background: transparentize(black, 0.2);
    font-size: 1.6em;
    &.credits { font-size: 0.9em; }
  }
  button { margin-right: 1em; }
}

.carousel,
.carousel-inner,
.carousel .item,
.carousel .active { height: 100%; }

#carousel-container {
  .carousel-inner {
    > .item { @include transition(.3s ease-in-out left); }
  }
}

.video-nav {
  margin-right: 0.5em;
  .play {
    i.fa-play { 
      display: none;
      color: transparentize(white, 0.25);
    }
    i.fa-pause {
      color: white;
    }
    &.paused {
      i.fa-pause { display: none; }
      i.fa-play { display: inline-block; }
    }
  }
}

.fill {
  width: 100%;
  height: 100%;
  padding: 0;
  background-position: center;
  background-size: cover;
  .container {
    height: 100%;
    display: table;
    .content {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.item-0 h2, .item-0 p, .video-title, .overview h3 {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.3em;
}

.video-title {
  margin-top: 2rem;
  font-size: 1.8rem;
  @media screen and (min-width: $screen-xs-min) {
    font-size: 3rem;
  }
}

.desc-row {
  margin: 1em 0 2em;
  button span { display: none; }
}

.description {
  margin-top: 0;
  color: $gray-lighter;
}

.mejs-container {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
  .mejs-controls {
    height: auto;
    .mejs-time-rail {
      height: 0.3rem;
      padding: 0;
      span {
        height: 100%;
        border-radius: 0;
      }
      .mejs-time-total {
        margin: 0;
        background: transparentize($gray, 0.5);
      }
      .mejs-time-loaded { background: $mencapPink; }
    }
  }
  .mejs-layers .mejs-layer {
    width: 100% !important;
    height: 100% !important;
    .mejs-overlay-button {
      margin-top: -50px !important;
    }
    &.mejs-overlay-play {
      .mejs-overlay-button {
        background-image: image-url('bigplay.svg');
      }
    }
    .mejs-overlay-loading {
      width: 100%;
      height: 100%;
      top: auto;
      left: auto;
      position: relative;
      margin: 0;
      span {
        width: 100%;
        height: 100%;
        background-image: image-url('loading.gif');
      }
    }
  }
}

#overview-container {
  margin: 3em auto auto;
}

.overview {
  margin-bottom: 3em;
  h3 {
    margin-top: 0;
    font-size: 1.6rem;
    display: block;
    @media screen and (min-width: $screen-xs-min) {
      font-size: 2rem;
    }
    a {
      color: white;
      display: table;
      &:hover,&:focus {
        text-decoration: none;
      }
    }
    i {
      font-weight: normal;
      vertical-align: middle;
      display: table-cell;
      padding: 0 0.6rem 0 0.1rem;
      @media screen and (min-width: $screen-xs-min) {
        padding-right: 1rem;
        padding-left: 0.5rem;
      }
    }
    span.title {
      vertical-align: middle;
      display: table-cell;
      line-height: 1.1;
      padding-top: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  a.thumbnail {
    position: relative;
    .mejs-overlay-button { opacity: 0.3; }
    &:hover,&:active,&:focus {
      .mejs-overlay-button { opacity: 1.0; }
    }
  }
}

.footerinfo {
  .container {
    padding: 3rem 15px;
  }
  @for $i from 1 through 3 {
    @include responsive-bg('info-#{$i}', $i, 1);
  }
}
