<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mencap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/others.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bgs.css">
    <!-- endbuild -->
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body class="loading">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header">
      <nav class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container" id="menu-container">
          <a class="navbar-brand" href="#carousel-main" data-slide-to="0"><span class="mencap-logo">Mencap:</span> <span class="ya-text">Young Ambassadors</span></a>
          <ul class="navbar-nav nav nav-pills pull-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-icon fa-film fa-lg"></i> <i class="fa fa-caret-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                {{#videos}}
                <li class="item-{{id}}"><a href="#carousel-main" data-slide-to="{{id}}">{{title}} <i class="fa fa-{{icon}}"></i></a></li>
                {{/videos}}
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container text-center" id="intro-container">
      <div class="content">
        <h1><span class="mencap-logo">Mencap:</span> <span class="ya-text">Young Ambassadors</span></h1> 
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
            <div class="progress progress-striped active">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="carousel-container">
      <div id="carousel-main" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <div class="active first item item-0">
            <div class="fill">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-6" id="sizeguide">
                    <div class="content clearfix">
                      <h2>Who are we?</h2>
                      <p>Young Ambassadors are inspirational role models who use their life experiences to make a positive impact on the lives of other people with a learning disability.</p>
                      <p class="credits">This site was designed by and for young people with a learning disability.</p>
                      <button role="navigation" class="next btn btn-primary btn-lg pull-right" data-target="#carousel-main" data-slide="next"><span>Find out more!</span> <i class="fa fa-chevron-right fa-lg"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{#videos}}
            <div class="item item-{{id}}" data-id="{{id}}">
              <div class="fill">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="video-title"><i class="fa fa-{{icon}}"></i> {{title}}</h2>
                    <div class="video-container">
                      <video id="item-{{id}}" preload="none" poster="images/posters/{{file}}.jpg" style="width:100%;height:100%">
                        <source src="video/{{file}}.mp4" type="video/mp4" />
                        <source src="video/{{file}}.webm" type="video/webm" />
                        <source src="video/{{file}}.ogg" type="video/ogg" />
                      </video>
                    </div>
                    <div class="row desc-row">
                      <div class="text-center">
                        <div class="btn-group btn-group-lg video-nav">
                          <button role="navigation" class="rewind btn btn-video"><i class="fa fa-step-backward fa-lg"></i></button>
                          <button role="navigation" class="play btn btn-video paused"><i class="fa fa-play fa-lg"></i><i class="fa fa-pause fa-lg"></i></button>
                        </div>
                        <div class="btn-group btn-group-lg carousel-nav">
                          <button role="navigation" class="prev btn btn-primary" data-target="#carousel-main" data-slide="prev"><i class="fa fa-chevron-left fa-lg"></i><span> Prev</span></button>
                          <button role="navigation" class="next btn btn-primary" data-target="#carousel-main" data-slide="next"><span>Next </span><i class="fa fa-chevron-right fa-lg"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/videos}}
        </div>
      </div>
    </div>

    <div class="container" id="overview-container">
      <div class="row">
        {{#videos}}
          <div class="col-xs-6 col-sm-4 col-md-3 overview overview-{{id}}" data-id="{{id}}">
            <a class="thumbnail" href="#">
              <img src="images/posters/{{file}}.jpg" alt="{{title}}">
            </a>
            <h3><a href="#"><i class="fa fa-{{icon}} fa-2x"></i> <span class="title">{{title}}</span></a></h3>
          </div>
          {{#clearTwo}}<div class="clearfix visible-xs"></div>{{/clearTwo}}
          {{#clearThree}}<div class="clearfix visible-sm"></div>{{/clearThree}}
          {{#clearFour}}<div class="clearfix visible-md visible-lg"></div>{{/clearFour}}
        {{/videos}}
      </div>
    </div>
    
    <hr />

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#about" data-toggle="tab"><i class="fa fa-question-circle fa-lg"></i> About</a>
        </li>
        <li>
          <a href="#what" data-toggle="tab"><i class="fa fa-info-circle fa-lg"></i> Roles</a>
        </li>
        <li>
          <a href="#contact" data-toggle="tab"><i class="fa fa-phone-square fa-lg"></i> Contact</a>
        </li>
      </ul>
    </div>

    <div class="footerinfo tab-content">
      <div class="container-fluid footer-info item-1 active tab-pane fade in" id="about">
        <div class="fill">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="content clearfix">
                  <div class="well">
                    <h2>About Young Ambassadors</h2>
                    <p>Young people aged 16-25 with a learning disability have the opportunity to become a Young Ambassador for Mencap, where they volunteer for 6 months and have the chance to influence decision-making to benefit everyone with a learning disability in the wider community.</p>
                    <p>Young people can apply to be Young Ambassadors after taking part in a workshop, Community impact project, or if they would just like to gain valuable experience volunteering.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid footer-info item-2 tab-pane fade" id="what">
        <div class="fill">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="content clearfix">
                  <div class="well">
                    <h3>What do Young Ambassadors do?</h3>
                    <p>Opportunities that Young Ambassadors can get involved in include:</p>
                    <ul>
                      <li>Taking part in fundraising events</li>
                      <li>Campaigning for rights for people with a learning disability</li>
                      <li>Organising a Community impact project with other young ambassadors</li>
                      <li>Sitting on an interview panel for Mencap and other organisations</li>
                      <li>Becoming a mentor to another young person with a learning disability</li>
                    </ul>
                    <p>Young Ambassadors can make a positive difference to other people’s lives, as well as develop their own skills in employability and confidence. We also encourage teamwork, so Young Ambassadors get the chance to meet others in the programme and work together, developing interpersonal and listening skills.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid footer-info item-3 tab-pane fade" id="contact">
        <div class="fill">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="content clearfix">
                  <div class="well">
                    <h3>Contact us</h3>
                    <p>If you'd like to become a Young Ambassador, or would like to find out more about the Young Ambassadors programme, please get in touch:</p>
                    <p class="lead"><strong>Telephone:</strong> <a href="tel:02074540454">020 7454 0454</a></p>
                    <p class="lead"><strong>Email:</strong> <a href="mailto:inspire.me@mencap.org.uk">inspire.me@mencap.org.uk</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6" id="measure"></div>
      </div>
    </div>

    <footer class="footer container-fluid text-center">
      <p class="charity-info">©<span class="mencap-logo logo">Mencap</span> 2014 || 123 Golden Lane, London, EC1Y 0RT || <a href="tel:02074540454">020 7454 0454</a> || Charity number 222377 (England, Northern Ireland and Wales); SCO41079 (Scotland)</p>
    </footer>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/mediaelement/build/mediaelement-and-player.js"></script>
    <script src="bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/plugins.js -->
    <!--<script src="bower_components/sass-bootstrap/js/affix.js"></script>-->
    <!--<script src="bower_components/sass-bootstrap/js/alert.js"></script>-->
    <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
    <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
    <!--<script src="bower_components/sass-bootstrap/js/modal.js"></script>-->
    <script src="bower_components/sass-bootstrap/js/transition.js"></script>
    <script src="bower_components/sass-bootstrap/js/button.js"></script>
    <!--<script src="bower_components/sass-bootstrap/js/popover.js"></script>-->
    <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
    <!--<script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>-->
    <!--<script src="bower_components/sass-bootstrap/js/collapse.js"></script>-->
    <script src="bower_components/sass-bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
